ErrorDocument 403 /src/views/layouts/404.php   # Personnalise la page pour l'erreur 404 (NoT Found)

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE image/jpeg # active la compression des images
</IfModule>

<Files "admin.php">
    AuthType Basic
    AuthName "Admin Page"
    AuthUserFile .htpasswd
    Require valid-user
</Files>

