RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]

<Files "admin.php">
    AuthType Basic
    AuthName "Admin Page"
    AuthUserFile "/home/vol6_4/infinityfree.com/if0_35105569/munap-dgb.free.nf/htdocs/.htpasswd"
    Require valid-user
</Files>

Redirect 302 /admin https://munap-dgb.free.nf/src/views/admin.php